:root {
    --bs-body-bg: #fcfcfc;
    /* Off-white */
    --bs-body-color: #2e2e2e;
    /* Dark slate */
    --bs-primary: #20c997;
    /* Teal (humidity) */
    --bs-warning: #ff6b6b;
    /* Coral (temperature) */
    --bs-secondary: #e0e0e0;
    /* Light gray borders */
}

html {
    color: var(--bs-body-color) !important;
    height: 100dvh;
}

body {
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
}

.row div {
    border: 3px solid var(--bs-secondary) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    margin: 4px;
}

#pills-tab {
    font-size: 16px;
    text-decoration: none;
}

.nav-item a {
    color: black;
    margin-top: 12px;
    margin-left: 12px;
}

.nav-item a:visited {
    color: black;
}

.sticky-top {
    background-color: var(--bs-bg-light) !important;
    border-bottom: 1px solid var(--bs-secondary) !important;
    z-index: 999;
}

.nav-pills .nav-link.active {
    background-color: var(--bs-primary) !important;
    color: #333333 !important;
}

.nav-pills .nav-link:hover,
.nav-pills .nav-link:focus {
    background-color: var(--bs-warning) !important;
    color: #333333 !important;
}