:root {
    --bs-body-bg: #1e1e1e;
    /* Dark gray */
    --bs-body-color: #cbd5e1;
    /* Soft pale gray */
    --bs-primary: #4b5563;
    /* Medium gray */
    --bs-secondary: #6b7280;
    /* Light gray */
    --bs-info: #9ca3af;
    /* Even lighter gray */

    --bs-link-color: #4b5563;
    --bs-link-hover-color: #cbd5e1;
}

html {
    color: var(--bs-body-color) !important;
    height: 100dvh;
}

body {
    background-color: var(--bs-body-bg) !important;
}

.row div {
    border: 3px solid #adb5bd !important;
}

#pills-tab {
    padding: 10px;
    font-size: 14px;
}

.sticky-top {
    background-color: var(--bs-primary) !important;
    border-bottom: 1px solid var(--bs-secondary, #dee2e6) !important;
    z-index: 999;
}

.nav-pills .nav-link.active {
    background-color: var(--bs-primary) !important;
    color: #fff !important;
}

.nav-pills .nav-link:hover,
.nav-pills .nav-link:focus {
    background-color: var(--bs-info) !important;
    color: #fff !important;
}

.btn-primary:hover {
    background-color: var(--bs-primary);
}