:root {
    --bs-primary: #d63384;
    /* --bs-warning:   #fd7e14; */
    --bs-body-bg: #ffffff;
    --bs-body-color: #343a40;
    --bs-info: #6f42c1;
}

html {
    color: var(--bs-body-color) !important;
    height: 100dvh;
}

body {
    background-color: var(--bs-body-bg) !important;
}

.row div {
    border: 3px solid #adb5bd !important;
}

#pills-tab {
    padding: 10px;
    font-size: 14px;
}

.sticky-top {
    background-color: #198754;
    border-bottom: 1px solid var(--bs-secondary, #dee2e6) !important;
    z-index: 999;
}

.nav-pills .nav-link.active {
    background-color: var(--bs-primary) !important;
    color: #fff !important;
}

.nav-pills .nav-link:hover,
.nav-pills .nav-link:focus {
    background-color: var(--bs-info) !important;
    color: #fff !important;
}

.btn-primary:hover {
    background-color: darken(var(--bs-primary), 10%);
}