<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="sticky-top">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" href="#contentContainer" data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="{{ url_for('about_page') }}" role="tab" aria-controls="pills-profile" aria-selected="false">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="{{ url_for('contact_page') }}" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
            </li>
        </ul>
    </div>

    <div class="container text-center" id="contentContainer">
        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12 col-sm-6 col-md-8">.col-12 .col-sm-6 .col-md-8 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum accusamus obcaecati ullam corporis esse odio. Explicabo sed suscipit praesentium quae. Placeat, fuga quo. Sequi sit obcaecati sunt, quaerat nihil illum!
                Laudantium deleniti ex non a. Harum rem rerum, eaque nulla excepturi recusandae, eveniet impedit aperiam maxime sint soluta cum nesciunt labore velit ex voluptate? Corrupti harum sit quasi aut ipsa!
                Facilis, nisi ad. Blanditiis eius rerum laudantium ad laborum, est, maiores voluptate magni, dolorum reprehenderit aliquam? Minus a voluptates perspiciatis, quos deleniti tempore saepe ducimus, dolor ipsum voluptas facere quasi.
                Excepturi doloribus deserunt fugit quidem, perferendis sequi dignissimos. Rem totam placeat ad qui ipsam alias esse velit tempore, necessitatibus sit molestias quia, iste nobis blanditiis, mollitia soluta. Aut, unde laborum.
                Itaque ducimus voluptate, consequatur rerum tenetur eveniet porro earum odit enim, recusandae neque! Blanditiis quisquam laboriosam odit cum incidunt ratione ad dolore? Tempora ex non porro velit iure, architecto deserunt?
                Corporis corrupti, minus nostrum pariatur dolor maxime dolore, modi placeat ea, saepe perspiciatis. Quod, amet at! Deleniti amet officiis at explicabo recusandae consectetur ipsam. Fuga quia excepturi quaerat voluptatum aliquid.</div>
                <div class="col-6 col-md-4">.col-6 .col-md-4 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem praesentium, pariatur fugiat maxime similique tempore! Cum, quam omnis? Minima impedit deserunt eaque expedita voluptates unde quidem distinctio est reprehenderit molestias?
                Quis error impedit sequi quos ad, quasi quibusdam consequuntur id reiciendis corporis qui, aliquam rerum ea commodi sapiente doloribus ipsam sunt nemo. Autem cumque minus quam adipisci voluptates quos molestias?
                Fuga molestiae numquam natus amet ab dignissimos atque magnam. Molestiae impedit sit aliquid, earum omnis placeat asperiores! Autem magnam libero iure impedit. Deserunt reprehenderit recusandae culpa nisi laboriosam sit consectetur.
                Illo deleniti aliquam eligendi reprehenderit blanditiis quisquam sequi! Perspiciatis eos eaque illum dolore esse non placeat ratione voluptatem impedit, necessitatibus enim. Qui cupiditate voluptate unde sunt cumque dolorum harum a.</div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js" integrity="sha384-2P+Kfs3MdnSHaD6HzfLu1ySzJAAEZU6QukzniuB9YZzc1md4T0+FK3ptuBXr8D+D" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>